<div class="page-info-container">
  <h3 class="h3 mb-2 text-gray-800">
    Products
  </h3>
  <p>
    Products Listing
  </p>
  <hr />
</div>

<div class="page-data-holder card shadow mb-4">
  <div class="card-header">
    <form>
      <div class="input-group">
        <input #productNameSearch type="text" class="form-control" placeholder="Search By Product Name">
        <select #productCategorySearch *ngIf="categories.length > 0" class="form-control custom-select">
          <option value="0">Select By Category</option>
          <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
        </select>
        <button (click)="onSearch()" type="submit" class="form-control btn btn-primary"><i class="fas fa-search"></i>Search</button>
        <a (click)="onReset()" role="button" class="form-control btn btn-primary text-white"><i class="fas fa-redo-alt"></i> Reset</a>
        <a routerLink="create" role="button" class="form-control btn btn-success text-white"><i class="fas fa-plus"></i> Create Product</a>
      </div>
    </form>
  </div>
  <div class="card-body p-0" id="list-holder">
    <table *ngIf="products.length > 0" class="table table-hover table-responsive-sm m-0">
      <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Description</th>
        <th>Price</th>
        <th>Stock Quantity</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>
            <i class="text-warning fas fa-star m-1"></i>
            <a routerLink="/shop/{{product.id}}">{{product.name}}</a>
          </td>

          <td>
            <span>
              <a routerLink="/shop" [queryParams]="{categoryID: product.category.id}" href="">{{product.category.name}}</a>
            </span>
          </td>

          <td>{{product.description}}</td>

          <td>{{product.price | currency}}</td>

          <td>{{product.stockQuantity}}</td>

          <td>
            <div class="btn-group" role="group">
              <a class="btn btn-primary" routerLink="edit/{{product.id}}">
                <i class="fas fa-edit mr-1"></i>
                Edit
              </a>
              <button class="deleteButton btn btn-danger">
                <i class="fas fa-trash-alt mr-1"></i>
                Delete
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-container *ngIf="products.length > 0">
      <app-pager
        *ngIf="totalProductsCount > productParams.pageSize"
        [pageSize]="productParams.pageSize"
        [pageIndex]="productParams.pageIndex"
        [totalCount]="totalProductsCount"
        (pageChanged)="onPageChanged($event)"
      >
      </app-pager>
    </ng-container>

    <div *ngIf="products.length === 0" class="alert alert-warning rounded-0 m-0" role="alert">
      No Products Found
    </div>
  </div>
</div>
