<div class="page-info-container">
  <h3 class="h3 mb-2 text-gray-800">
    Comments
  </h3>
  <p>
    Comments Listing.
  </p>
  <hr />
</div>

<div class="page-data-holder card shadow mb-4">
  <div class="card-header">
    <form>
    <div class="input-group">
      <input #commentSearch type="text" class="form-control" placeholder="Search In Comment">
      <button (click)="onSearch()" type="submit" class="form-control btn btn-primary"><i class="fas fa-search"></i> Search</button>
      <a (click)="onReset()" class="form-control btn btn-primary text-white"><i class="fas fa-redo-alt"></i> Reset</a>
    </div>
    </form>
  </div>
  <div class="card-body p-0" id="list-holder">
    <div *ngIf="comments.length > 0" class="container">
      <div *ngFor="let comment of comments" class="row py-2 border-bottom">
        <div class="col-xs-1 col-md-1 col-lg-1 p-0">
          <img src="assets/images/user-default-avatar.png" alt="{{comment.username}}" class="img-responsive img-thumbnail">
        </div>

        <div class="col-xs-11 col-md-11 col-lg-11">
          <div class="mb-2">
            <div class="mic-info">
              <a routerLink="../users/{{comment.userID}}">
                {{comment.username}}
              </a>
              <span class="small ml-2 text-muted">
                {{comment.timestamp}}
              </span>
            </div>
            <a class="text-primary" routerLink="../../shop/{{comment.entityID}}">
              {{comment.product.name}}
            </a>
          </div>
          <div class="d-flex align-items-center mb-2">
            <div class="mr-auto text-warning">
              <i *ngFor="let i of [].constructor(comment.rating)" class="fas fa-star"></i>
              <i *ngFor="let i of [].constructor(5 - comment.rating)" class="far fa-star"></i>
            </div>
<!--            <div class="ml-auto text-danger pointerCursor">-->
<!--              <i class="fas fa-trash-alt deleteButton" ></i>-->
<!--            </div>-->
          </div>
          <div class="comment-text">
            {{comment.text}}
          </div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="comments.length > 0">
      <app-pager
        *ngIf="totalCommentsCount > commentParams.pageSize"
        [pageSize]="commentParams.pageSize"
        [pageIndex]="commentParams.pageIndex"
        [totalCount]="totalCommentsCount"
        (pageChanged)="onPageChanged($event)"
      >
      </app-pager>
    </ng-container>

    <div *ngIf="comments.length === 0" class="alert alert-warning rounded-0 m-0" role="alert">
      No Comments Found.
    </div>
  </div>
</div>
