<div class="delivery-container" [formGroup]="checkoutForm">
  <h4>Delivery Methods</h4>

  <form class="row" formGroupName="deliveryForm">
    <div class="col-6 form-group d-flex align-items-center" *ngFor="let deliMethod of deliMethods">
      <input type="radio"
             (click)="setShippingPrice(deliMethod)"
             id="{{deliMethod.id}}"
             value="{{deliMethod.id}}"
             formControlName="deliveryMethod"
             class="custom-radio"
             style="width: 30px; margin-right: 10px"
      >
      <label for="{{deliMethod.id}}">
        <strong>{{deliMethod.name}} - {{deliMethod.price | currency}}</strong>
        <br>
        <span class="text-muted">{{deliMethod.description}}</span>
      </label>
    </div>
  </form>
</div>
