<footer class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="footer-left">
          <div class="footer-logo">
            <a>
              <h5>STech</h5>
            </a>
          </div>

          <div>
            <p>STech store provides vast variety of mobile accessories for your best experience</p>
            <br/>
            <p class="small text-muted">
              Your store, Your Address, Your Block,
              <br/>
              Your City, Your Country
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="footer-widget">
          <h5>Information</h5>
          <ul>
            <li><a href="#" class="no-underline">About Us</a></li>
            <li><a href="#" class="no-underline">Contact Us</a></li>
            <li><a href="#" class="no-underline">Privacy Policy</a></li>
            <li><a href="#" class="no-underline">Refund Policy</a></li>
            <li><a href="#" class="no-underline">Terms and Conditions</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="footer-widget">
          <h5>Account</h5>
          <ul>
            <li><a routerLink="/account/profile/info" class="no-underline">My Profile</a></li>
            <li><a routerLink="/account/profile/orders" class="no-underline">My Orders</a></li>
            <li><a routerLink="/cart" class="no-underline">My Cart</a></li>
            <li><a routerLink="/checkout" class="no-underline">Checkout</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="newslatter-item" id="newslatter-item">
          <h5>Join our News Letter</h5>
          <form action="" class="subscribe-form">
            <input type="text" name="email" placeholder="Enter your email address" value = "">
            <button type="submit">SUBSCRIBE</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright-reserved" style="display: block">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 copyrights-widget">
          <div class="copyright-text">
            <i class="fas fa-copyright dont-transform text-warning" title="Copyrights"></i>
            STech 2023. All rights reserved.
            <br/>
          </div>
          <div class="payment-pic text-white">
            <img src="assets/images/ecommerce-payment-methods.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
